.container.contact__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
 
.contact__options {
  display: flex;
  gap: 5rem;
  width: 100vw;
  justify-content: center;
}

.contact__option {
  background: var(--color-tempo2);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 30vw;
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-tempo5);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

.social__options {
  display: flex;
  justify-content: center;
  background: var(--color-tempo4);
  border-radius: 15px;
  padding-top: 3rem;
  padding-bottom: 7rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.social__option{
  display: flex;
  gap: 50px;
}

.social__option a{
  color: var(--color-tempo1);
}

/* ========== Media Queries (medium)========== */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
  }
}

/* ========== Media Queries (Small)========== */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
    justify-content: center;
  }
  .contact__options {
    flex-direction: column;
  }
  .contact__option {
    width: 90vw;
  }
}