@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-tempo1: rgb(5, 24, 30);
  --color-tempo2: rgb(17, 61, 60);
  --color-tempo3: rgb(0, 150, 150);
  --color-tempo4: rgb(118, 240, 240);
  --color-tempo5: rgb(253, 125, 0);
  --color-tempo6: rgb(252, 194, 95);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-tempo1);
  color: var(--color-tempo4);
  line-height: 1.7;
  background-image: url(../src/assets/bg-texture.png);
}

/* ========== General Styles ========== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-tempo4);
}

section > h2 {
  color: var(--color-tempo5);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-tempo4);
}

a {
  color: var(--color-tempo5);
  transition: var(--transition);
}

a:hover {
  color: var(--color-tempo6);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-tempo3);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-tempo3);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-tempo5);
  color: var(--color-tempo1);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-tempo3);
  color: var(--color-tempo1);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ========== Media Queries (medium)========== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ========== Media Queries (Small)========== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}